UnitedSolar/force-app/main/default/flows/Hot_Rated_Business_Thank_You_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action010_Send_Out_Emails</name>
        <label>Action010 Send Out Emails</label>
        <locationX>138</locationX>
        <locationY>1332</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assignment030_Clear_Variables</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Thank you so much for being our business partner!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>collectionvarRecipientEmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sean.nuttall@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thank you!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assignment010_Hot_Rated_Business_ID</name>
        <label>Assignment010 Hot Rated Business ID</label>
        <locationX>138</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>collectionvarHotRatedBusinesses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop010_Assign_Account_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHotRatedBusiness</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop010_Assign_Account_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop010_Assign_Account_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment020_Gather_Recipient_Emails</name>
        <label>Assignment020 Gather Recipient Emails</label>
        <locationX>270</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>collectionvarRecipientEmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop020_Assign_Recipient_Emails.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Increment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision020_Email_Batching</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment030_Clear_Variables</name>
        <label>Assignment030 Clear Variables</label>
        <locationX>138</locationX>
        <locationY>1452</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionvarRecipientEmailList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>collectionvarEmptyTextVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop020_Assign_Recipient_Emails</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision010_Is_Today_The_First</name>
        <label>Decision010 Is Today The First?</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Today is not the First of the Month</defaultConnectorLabel>
        <rules>
            <name>Today_is_the_First_of_the_Month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaIsTodayTheFirst</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get010_Retrieve_Account_Records</targetReference>
            </connector>
            <label>Today is the First of the Month</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision020_Email_Batching</name>
        <label>Decision020 Email Batching</label>
        <locationX>270</locationX>
        <locationY>1212</locationY>
        <defaultConnector>
            <targetReference>Loop020_Assign_Recipient_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add more to Recipient List</defaultConnectorLabel>
        <rules>
            <name>Send_Batch</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop020_Assign_Recipient_Emails.Account.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varHotRatedBusiness.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action010_Send_Out_Emails</targetReference>
            </connector>
            <label>Send Batch</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaIsTodayTheFirst</name>
        <dataType>Boolean</dataType>
        <expression>DAY(TODAY()) == 22</expression>
    </formulas>
    <formulas>
        <name>Increment</name>
        <dataType>Number</dataType>
        <expression>{!Counter}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Hot Rated Business Thank You Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hot Rated Business Thank You Email</label>
    <loops>
        <name>Loop010_Assign_Account_Records</name>
        <label>Loop010 Assign Account Records</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <collectionReference>Get010_Retrieve_Account_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment010_Hot_Rated_Business_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get020_Retrieve_Recipient_Contact_Information</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop020_Assign_Recipient_Emails</name>
        <label>Loop020 Assign Recipient Emails</label>
        <locationX>50</locationX>
        <locationY>972</locationY>
        <collectionReference>Get020_Retrieve_Recipient_Contact_Information</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment020_Gather_Recipient_Emails</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get010_Retrieve_Account_Records</name>
        <label>Get010 Retrieve Account Records</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop010_Assign_Account_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rating</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get020_Retrieve_Recipient_Contact_Information</name>
        <label>Get020 Retrieve Recipient Contact Information</label>
        <locationX>50</locationX>
        <locationY>852</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop020_Assign_Recipient_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>collectionvarHotRatedBusinesses</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision010_Is_Today_The_First</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-03-01</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionvarEmptyTextVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionvarHotRatedBusiness</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>collectionvarHotRatedBusinesses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionvarHotRatedContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>collectionvarRecipientEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varHotRatedBusiness</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
